<!------------------footer----------------- -->
<div class="container-fluid pt-5 pb-5" style=" text-align: right; background-color: rgba(238, 238, 238);">
  <div class="container">
    <div class="row">
      <!--  footer Middle  -->
      <div class="col-3">
        <div class="col">
          <h5 style="color: #0E7E4A; font-weight: 550;">خدمات أشبال الفن</h5>
          <br>
          <div class="dropdown">
           <!-- <label class="dropdown-toggle" type="" data-toggle="dropdown" placeholder="   ....حدد التصنيف" >
            <span class="caret"></span></label> -->
            <input class="dropdown-toggle" type="" data-toggle="dropdown" placeholder="   ........حدد التصنيف <" >
              <span class="caret"></span>
           <ul class="dropdown-menu">
             <li><a href="#">HTML</a></li>
             <li><a href="#">CSS</a></li>
             <li><a href="#">JavaScript</a></li>
           </ul>
         </div>
        </div>
      <br>
        <div class="col">
          <h5 style="color: #0E7E4A; font-weight: 550;">تواصل معنا</h5>
          <div>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-solid fa-phone"></i>
            <i class="fa-solid fa-envelope"></i>
          </div>
        </div>
      </div>
      <!-- footer Right -->
      <div class="col-2" style="text-align: center;">
        <h5 style="color: #0E7E4A; font-weight: 550;">روابط سريعه</h5>
        <div>
          <!-- <i class="fa-solid fa-arrow-up-left"></i> -->
          <p><a href="#">معلومات عنا </a><span class="caret"></span></p>
          <p><a href="#">طلب تسعير</a></p>
          <p><a href="#">استفسار</a></p>
          <p><a href="#">اتصل بنا</a></p>
        </div>
      </div>
      <!--  footer Left  -->
      <div class="row col-7">
        <div class="col-9 pt-5">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid facere minima mollitia quisquam corrupti
            blanditiis sed eum fuga enim! Incidunt ratione expedita quos minima veritatis. Assumenda inventore aperiam
            pariatur quae?</p>
        </div>
        <div class="col-3">
          <img src="../assets/images/logo.svg" style="width: 170px;" alt="AshbalAlfan Logo">
        </div>
      </div>
    </div>
  </div>
</div>
<!--حقوق النشر-->
<div class="container-fluid" style="background-color: #0E7E4A;">
  <div class="container">
    <div class="row pt-4 pb-4" style="text-align:center;">
      <div class="col">
        <p class="footer-parg" style="text-align:left;">تطوير وتصميم بواسطة أشبال الفن
          للدعاية والإعلان</p>
      </div>
      <div class="col">
        <p class="footer-parg" style="text-align:right;">حقوق الطبع والنشر © أشبال الفن
          للدعاية والإعلان 2022
          جميع الحقوق محفوظة</p>
      </div>
    </div>
  </div>
</div>

