<!------------------footer----------------- -->
<div class="container-fluid pt-5 pb-5" style=" text-align: right; background-color: rgba(238, 238, 238);">
    <div class="container">
        <div class="row">
            <!--  footer Middle  -->
            <div class="col-3">
                <div class="row">
                    <h5>خدمات أشبال الفن</h5>
                    <br>
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            إختر التصنيف
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">المطبوعات الورقية</a></li>
                            <li><a class="dropdown-item" href="#">الإعلانات والإستيكرات</a></li>
                            <li><a class="dropdown-item" href="#">المنتجات الإعلانية</a></li>
                            <li><a class="dropdown-item" href="#">المدونة</a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h5>تواصل معنا</h5>
                    <div class="socialMedia">


                        <!-- font awesome -->


                    </div>
                </div>
            </div>
            <!-- footer Right -->
            <div class="col-2" style="direction: rtl; text-align: right;">
                <h5>روابط سريعة</h5>
                <div>
                    <p class="fastlink"><a href="#">معلومات عنا </a></p>
                    <p class="fastlink"><a href="#">طلب تسعير</a></p>
                    <p class="fastlink"><a href="#">استفسار</a></p>
                    <p class="fastlink"><a href="#">اتصل بنا</a></p>
                </div>
            </div>
            <!--  footer Left  -->
            <div class="row col-7">
                <div class="col-9 pt-5 info-piece">
                    <p>شركة أشبال الفن من الشركات الرائدة في مجال التصميم والدعاية والإعلان وجميع خدمات الطباعة. لدينا
                        القدرة علي تميزك عن طريق الخدمات التي نقدمها بأعلي جودة مع تقديم الحلول المتكاملة</p>
                </div>
                <div class="col-3">
                    <img src="../assets/images/logo.svg" style="width: 170px;" alt="AshbalAlfan Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!--حقوق النشر-->
<div class="container-fluid" style="background-color: #0E7E4A;">
    <div class="container">
        <div class="row pt-4 pb-4" style="text-align:center;">
            <div class="col">
                <p class="footer-parg" style="text-align:left;"> Air Menu تطوير وتصميم بواسطة</p>
            </div>
            <div class="col">
                <p class="footer-parg" style="text-align:right;">حقوق الطبع والنشر © أشبال الفن
                    للدعاية والإعلان 2022
                    جميع الحقوق محفوظة</p>
            </div>
        </div>
    </div>
</div>
