* {
    font-family: Tajawal;
}
.fastlink{
    font-size: 16px;
    margin-bottom: 8px;
}
.info-piece{
    font-size: 17px;
    color: #1C1C1C;
}
.footer-parg{
    color: #ffffff;
    font-weight: 500;
}
a{
    color: #1C1C1C;
    text-decoration-line: none;
}

a:hover {
    color: #10d479;
}
.dropdown-toggle{
    width: 250px;
    color: gray;
    background-color: #ffffff;
    border:none;
    border-radius: 0px;
    direction: rtl;
    text-align: right;
}
.dropdown-toggle:after{
    margin-right: 120px; 
}
.dropdown-menu{
    width: 250px;
    direction: rtl;
    text-align: right;
}
.dropdown-item{
    color: gray;
}


h5{
    font-size: 16px;
    font-weight: 600;
    color: #0E7E4A;
}



@media screen and(max-width:767px){
    .company{
        text-align: center;
    }
    .footer-parg{
        text-align: center !important;
    }
}

@media screen and (min-width:767px) and (max-width:1140px){
    .dropdown-toggle{
        width: 150px;
    }
    .dropdown-toggle:after{
        margin-right: 30px; 
    }
    .dropdown-menu{
        width: 140px;
        overflow: hidden;
    }
}
