* {
    font-family: Tajawal;
}

p {
    font-weight: 600;
    color: #1C1C1C;
}
.footer-parg{
    color: #ffffff;
    font-weight: 500;
}
a {
    color: #1C1C1C;
    text-decoration-line: none;
}

a:hover {
    color: #10d479;
    text-decoration-line: underline;
}