<section class="container-fluid" style="background-color: #0E7E4A; padding-top: 100px;">
    <div class="container py-5" style="direction: rtl;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1.5rem; border: none;">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid" style="border-radius: 0 1rem 1rem 0; width: 100%;" />
                        </div>
                        <div class="col-md-7 col-lg-8 d-flex align-items-center">
                            <div class="col-md-10 col-lg-10">
                                <div class="card-body text-black">
                                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/images/logo.svg" alt=" أشبال الفن لوجو"
                                                style="width: 100px; ;">
                                            <h4 class="fw-bold text-center">تسجيل الدخول الي حسابك</h4>
                                        </div>
                                        <div class="form-outline pt-3 pb-3">
                                            <label class="form-label" for="form2Example17"> اسم المستخدم</label>
                                            <input formControlName="username" type="text" id="form2Example17"
                                                class="form-control" placeholder="اسم المستخدم . . ." />
                                        </div>

                                        <div class="form-outline">
                                            <label class="form-label" for="form2Example27">كلمه السر</label>
                                            <input formControlName="password" type="password" id="form2Example27"
                                                class="form-control" placeholder="كلمة السر . . . " />
                                        </div>

                                        <div class="pt-3">
                                            <button class="btn btn-block" type="button"
                                                style="background-color:#0E7E4A ; color: white;" (click)="login()">تسجيل
                                                الدخول</button>
                                        </div>

                                        <!--error message-->
                                        <small id="accountError" class="text-danger"
                                            style="display: none;">{{errorMessage}}</small>

                                        <p class="pt-1" style="color: #393f81;">ليس لديك أكونت؟
                                            <a routerLink="/user-register" style="color:#10d479; margin-top: 10px;"> سجل
                                                من هنا</a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>