/*contact us*/
.contain-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom:60px;
}
.contact-info{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
/*information*/
.info-slice{
    margin: auto;
    height: 250px;
    margin-bottom: 20px;
    text-align: center;
}

.top{
    height: 45%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.bottom{
    height: 55%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.top-h4{
    color: #1c1c11;
}
.bottom-h5{
    color: #10d479;
    word-wrap: wrap;
}
/*map*/
.map-info{
    margin: auto;
    height: 520px;
    background-color: white;
    text-align: center;
}
.mapouter {
    position: relative;
    text-align: left;
    height: 100%;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width:100%;
}
