



<!-- 
<script>
  //Handle Bootstrap carousel slide event

  $('.carousel').carousel({
    interval: 15,
  });

</script>
 -->


<!--------1------->

<!--slider categories and produtcs-->

<div class="container-fluid mb-3">
  <div class="container">
    <div class="row" style="display: flex; direction:rtl;">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="right ">
          <h3>المطبوعات الورقية</h3>
          <h5>أفضل عروض المطبوعات الورقية</h5>
          <h6><a routerLink="/paper_printings">إظهار كافة المنتجات</a></h6>
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12" >
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let prod of paperPrintingsProducts">
            <ng-template carouselSlide [id]="prod.id">
              <div class="card col-11" routerLink="../products/{{prod.id}}">
                <div style="width:100%; height:255px;">
                  <img class="card-img-top2" src="http://backend.ashbalalfan.com/Resources/Images/{{prod.image1}}" alt="Card image second">
                  <img class="card-img-top1" src="http://backend.ashbalalfan.com/Resources/Images/{{prod.image2}}" alt="Card image firts">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{prod.title}}</h5>
                  <h5 class="card-price" *ngIf="prod.maxPrice">من {{prod.minPrice}} ر.س إلي {{prod.maxPrice}} ر.س </h5>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>

<!-------2-------->


<!--slider categories and produtcs-->

<div class="container-fluid mb-3">
  <div class="container">
    <div class="row" style="display: flex; direction:rtl;">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="right ">
          <h3>اللوحات والإستيكرات</h3>
          <h5>أفضل عروض اللوحات والإستيكرات</h5>
          <h6><a routerLink="/stickers">إظهار كافة المنتجات</a></h6>
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12" >
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let prod of stickerProducts ">
            <ng-template carouselSlide [id]="prod.id">
              <div class="card col-11" routerLink="../products/{{prod.id}}">
                <div style="width:100%; height:255px;">
                  <img class="card-img-top2" src="http://backend.ashbalalfan.com/Resources/Images/{{prod.image1}}" alt="Card image second">
                  <img class="card-img-top1" src="http://backend.ashbalalfan.com/Resources/Images/{{prod.image2}}" alt="Card image firts">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{prod.title}}</h5>
                  <h5 class="card-price" *ngIf="prod.maxPrice">من {{prod.minPrice}} ر.س إلي {{prod.maxPrice}} ر.س </h5>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>

<!--slider categories and produtcs-->

<div class="container-fluid mb-3">
  <div class="container">
    <div class="row" style="display: flex; direction:rtl;">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="right ">
          <h3>المنتجات الإعلانية</h3>
          <h5>أفضل عروض المنتجات الإعلانية</h5>
          <h6><a routerLink="/advertising">إظهار كافة المنتجات</a></h6>
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12" >
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let prod of advertisingProducts ">
            <ng-template carouselSlide [id]="prod.id">
              <div class="card col-11" routerLink="../products/{{prod.id}}">
                <div style="width:100%; height:255px;">
                  <img class="card-img-top2" src="http://backend.ashbalalfan.com/Resources/Images/{{prod.image1}}" alt="Card image second">
                  <img class="card-img-top1" src="http://backend.ashbalalfan.com/Resources/Images/{{prod.image2}}" alt="Card image firts">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{prod.title}}</h5>
                  <h5 class="card-price" *ngIf="prod.maxPrice">من {{prod.minPrice}} ر.س إلي {{prod.maxPrice}} ر.س </h5>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>

<!-------3-------->
