<div class="container-fluid">
    <div class="container" style=" padding-top: 30px; padding-bottom: 50px;">
        <div class="container mt-5 mb-5">
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-sm-12 col-md-6 border-end">
                        <div class=" flex-column justify-content-center">
                            <div class="main_image"> 
                                <img src="{{product.image1}}" id="main_product_image" width="370">
                            </div>
                            <div class="thumbnail_images">
                                <ul id="thumbnail">
                                    <li><img (click)="changeImage()" src="{{product.image5}}" width="70"></li>
                                    <li><img (click)="changeImage()" src="{{product.image2}}" width="70"></li>
                                    <li><img (click)="changeImage()" src="{{product.image3}}" width="70"></li>
                                    <li><img (click)="changeImage()" src="{{product.image4}}" width="70"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="p-3 right-side">
                            <div class="upSection" style="height: 415px; direction: rtl; ">
                                <div class="d-flex name">
                                    <h3>{{product.productName}}</h3>
                                </div>
                                <div class="mt-2 pr-3 price">
                                    <h3>من {{product.priceFrom}} ر.س إلي {{product.priceTo}} ر.س </h3>
                                </div>
                                <div class="mt-2 pr-3 hint">
                                    <h6>{{product.hint}}</h6>
                                </div>
                            </div>
                            <div class="buttons d-flex flex-row  gap-3">
                                <!-- <button class="btn1">Buy Now</button>  -->
                                <button class="btn">إضافة إلي السلة</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
