<div class="popup">
    <span class="popuptext" id="myPopup"><span>&#10003;</span> تمت الاضافة للسلة</span>
</div>

<div class="mainDiv" style="padding-top: 100px;">
    <div class="container-fluid" style="direction: rtl;">
        <div class="container" style=" padding-top: 30px; padding-bottom: 50px;">
            <div class="container mt-5 mb-5">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-sm-12 col-md-6">
                            <div class=" flex-column justify-content-center">
                                <div class="main_image">
                                    <!-- <img src={{product.image1}} id="main_product_image" width="370"> -->
                                    <img src="http://backend.ashbalalfan.com/Resources/Images/{{product.image1}}"
                                        id="main_product_image" width="370">
                                </div>
                                <div class="thumbnail_images">
                                    <ul id="thumbnail">
                                        <li *ngIf="product.image1">

                                            <img id="img1" (click)="changeImage1()"
                                                src="http://backend.ashbalalfan.com/Resources/Images/{{product.image1}}"
                                                width="70">
                                        </li>
                                        <li *ngIf="product.image2"><img id="img2" (click)="changeImage2()"
                                                src="http://backend.ashbalalfan.com/Resources/Images/{{product.image2}}"
                                                width="70">
                                        </li>
                                        <li *ngIf="product.image3"><img id="img3" (click)="changeImage3()"
                                                src="http://backend.ashbalalfan.com/Resources/Images/{{product.image3}}"
                                                width="70">
                                        </li>
                                        <li *ngIf="product.image4"><img id="img4" (click)="changeImage4()"
                                                src="http://backend.ashbalalfan.com/Resources/Images/{{product.image4}}"
                                                width="70">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 details">
                            <div class="p-3 right-side">
                                <div class="upSection" style="height: fit-content; direction: rtl; ">
                                    <div class="d-flex name">
                                        <h3>{{product.title}}</h3>
                                    </div>
                                    <div class="mt-2 pr-3 price" *ngIf="product.maxPrice&&product.minPrice">
                                        <h3>من {{product.minPrice}} ر.س إلي {{product.maxPrice}} ر.س </h3>
                                        <h6>{{product.hint}}</h6>
                                    </div>
                                    <div class="mt-2 pr-3 price" *ngIf="product.maxPrice&&!product.minPrice">
                                        <h3>{{product.maxPrice}} ر.س </h3>
                                        <h6>{{product.hint}}</h6>
                                    </div>
                                    <div class="mt-2 pr-3 description">
                                        <h6>{{product.description}}</h6>
                                    </div>
                                    <div class="mt-4 pr-3 sku" *ngIf="product.sku">
                                        <h6 style="float: right; font-weight: 600; color: #1c1c1c; margin-left: 1%;">SKU
                                            : </h6>
                                        <h6 style="font-weight: 600; color: #7c7575;"> {{product.sku}}</h6>
                                    </div>
                                    <div class="mt-2 pr-3 sku">
                                        <h6 style="float: right; font-weight: 600; color: #1c1c1c; margin-left: 1%;">
                                            الفئة : </h6>
                                        <h6 class="h6" style="font-weight: 600; color: #10d479;cursor: pointer;"
                                            routerLink="../../{{getCategoryRoute(product.category_Name)}}">
                                            {{product.category_Name}}</h6>
                                    </div>
                                    <br>

                                    <!--2 select option -->
                                    <div class="main_component_for_product_details mt-4 pr-3 sku">

                                        <div>
                                            <div *ngIf="Quantity; then firstblock; else empty1block"></div>
                                            <ng-template #firstblock>
                                                <!--في حالة وجود الكمية والخامه-->
                                                <form [formGroup]="selectForm" method="post">
                                                    <div class="mt-2 pr-3">
                                                        <div class="col-10">
                                                            <label for="kind-select" class="form-label"
                                                                style="font-weight: 600; color: #1c1c1c;">الخامة</label>
                                                            <select class="form-select" id="kind-select"
                                                                (change)="showPrice()" style="border-radius: 0px;"
                                                                formControlName="kindselect"
                                                                [class.is-invalid]="KINDSELECT?.invalid && KINDSELECT?.touched">
                                                                <option value="" selected>إختر الخامة</option>
                                                                <option *ngFor="let kind of product_kind"
                                                                    value={{kind}}>
                                                                    {{kind}}
                                                                </option>
                                                            </select>
                                                            <div *ngIf="KINDSELECT?.errors && KINDSELECT?.touched">
                                                                <small class="text-danger"
                                                                    *ngIf="KINDSELECT?.errors?.['required']">اختر
                                                                    الخامة</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-2 pr-3">
                                                        <div class="col-10">
                                                            <label for="qnt-value" class="form-label"
                                                                style="font-weight: 600; color: #1c1c1c;">الكمية</label>
                                                            <select class="form-select" id="qnt-value"
                                                                (change)="showPrice()" required
                                                                style="border-radius: 0px;" formControlName="qntselect"
                                                                [class.is-invalid]="QNTSELECT?.invalid && QNTSELECT?.touched">
                                                                <option value="" selected>إختر الكمية</option>
                                                                <option *ngFor="let qnt of product_quantity"
                                                                    value={{qnt}}>
                                                                    {{qnt}}
                                                                </option>
                                                            </select>
                                                            <div *ngIf="QNTSELECT?.errors && QNTSELECT?.touched">
                                                                <small class="text-danger"
                                                                    *ngIf="QNTSELECT?.errors?.['required']">اختر
                                                                    الكمية</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-12" style="direction: rtl;">


                                                            <div *ngIf="isPriceExist" class="col-12"
                                                                style="float: right;">
                                                                <p class="btn-secondry"
                                                                    style="float: right; font-weight: 600; border-radius: 0;">
                                                                    الســـعـــر &nbsp;&nbsp; : &nbsp; &nbsp; </p>
                                                                <h4 id="price-value" style="color:#10d479;">
                                                                    {{this.product_price}} ر.س
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <br>
                                                <div *ngIf="isPriceExist" class="buttons d-flex flex-row  gap-3">
                                                    <!-- <button class="btn1">Buy Now</button>  -->
                                                    <button class="btn" (click)="addToCart()">إضافة إلي السلة</button>


                                                </div>
                                            </ng-template>
                                            <ng-template #empty1block>
                                                <div>
                                                    <!--في حالة وجود الخامه فقط-->
                                                    <div *ngIf="Kind; then secondblock; else empty2block"></div>
                                                    <ng-template #secondblock>
                                                        <form [formGroup]="selectForm" method="post">
                                                            <div class="mt-2 pr-3">
                                                                <div class="col-10">
                                                                    <label for="kind-select"
                                                                        class="form-label">الخامة</label>
                                                                    <select class="form-select" id="kind-select"
                                                                        (change)="showPrice()"
                                                                        style="border-radius: 0px;"
                                                                        formControlName="kindselect"
                                                                        [class.is-invalid]="KINDSELECT?.invalid && KINDSELECT?.touched">
                                                                        <option value="" selected>إختر النوع</option>
                                                                        <option *ngFor="let kind of product_kind"
                                                                            value={{kind}}>
                                                                            {{kind}}
                                                                        </option>
                                                                    </select>
                                                                    <div
                                                                        *ngIf="KINDSELECT?.errors && KINDSELECT?.touched">
                                                                        <small class="text-danger"
                                                                            *ngIf="KINDSELECT?.errors?.['required']">اختر
                                                                            النوع</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-12" style="direction: rtl;">

                                                                    <div *ngIf="isPriceExist" class="col-12"
                                                                        style="float: right;">
                                                                        <p class="btn-secondry"
                                                                            style="float: right; font-weight: 600; border-radius: 0;">
                                                                            الســـعـــر &nbsp;&nbsp; : &nbsp; &nbsp;
                                                                        </p>
                                                                        <h4 id="price-value" style="color:#10d479;">
                                                                            {{this.product_price}} ر.س
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <br>
                                                        <div *ngIf="isPriceExist"
                                                            class="buttons d-flex flex-row  gap-3">
                                                            <!-- <button class="btn1">Buy Now</button>  -->
                                                            <button class="btn" (click)="addToCart()">إضافة إلي
                                                                السلة</button>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template #empty2block>
                                                        <!-- في حالة  عدم وجود الكمية والخامه معا-->
                                                        <div class="buttons d-flex flex-row  gap-3">
                                                            <!-- <button class="btn1">Buy Now</button>  -->
                                                            <button class="btn" routerLink="/pricing_request">أطلب
                                                                تسعيره</button>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </ng-template>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>