* {
  font-family: Tajawal;
}

.cart-title {
  color: rgb(20, 20, 20);
  font-size: x-large;
  font-weight: bolder;
  padding: 5px;
}

.row-title {
  background-color: #ffffff !important;
}
.fa-cart-arrow-down {
  color: #10d479 !important;
  margin-left: 3px;
}


td {
  vertical-align: middle !important;
}





/*Delete icon*/
.fa-trash {
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgb(71, 79, 61);
  padding-right: 2px;
  transform: scale(1);
}
.fa-trash:hover {
  transition: all 0.3s ease;
  transform: scale(1.6);
  color: red;
}

/*quantity input*/
.form-control[type="number"] {
  text-align: center; 
  font-size: larger;
  border: 0;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/*الفاتورة*/

.footer-btn {
  color: rgb(255, 255, 255) !important;
  font-size: medium;
  background-color: #0E7E4A !important;
  border-radius: 0px;
}

.footer-btn:hover {
  color: #0E7E4A !important;
  font-weight: 600;
  background-color: rgb(255, 255, 255) !important;
}

.empty {
  padding-top:100px;
  text-align: right;
}




@media screen and(max-width:767px){
  .buys{
    margin-top: 25px;
  }
}