<div class="container-fluid" style="background-color: aqua;">
    <div class="container" style="direction: rtl; text-align: right; background-color: burlywood; padding-top: 30px; padding-bottom: 30px;">
        <div class="row headTitle">
            <h3>طلب التسعير</h3>
        </div>
        <div class="row messageBody" style=" background-color: rgb(95, 31, 90);">
            <div class="col-12" style="background-color: white; padding-top: 40px;">
                <div class="row"  style=" background-color: rgb(255, 255, 255);">
                    <p style="font-size: 14px; font-weight: 600; color: rgb(180, 180, 180);">يمكن الاطلاع على معظم الأسعار من خلال صفحة المنتجات، يرجى استخدام هذا النموذج في حالة إذا كان المنتج
                        المطلوب غير موجود أو الأسعار غير مدرجة في قائمة المنتج.</p>
                </div>
                <div class="row" style=" background-color: rgb(235, 235, 235); padding-top: 30px; padding-bottom: 30px;">
                            
                </div>
            </div>
        </div>
    </div>
</div>