<div class="mainDiv" style="padding-top: 130px;">
    <!--Header2 Carousel -->
    <app-first-slider></app-first-slider>

    <!--slider categories and produtcs-->
    <app-category-product-carosuel></app-category-product-carosuel>

    <!--counter-->
    <div class="container-fluid cover">
        <div class="container">
            <div class="counter">
                <div class="col-12 col-md-3 col-sm-6 count-item" *ngFor="let count of counting">
                    <div class="col-11 item">
                        <div class="row up">
                            <h3 class="item-num">{{count.number}}</h3>
                        </div>
                        <div class="row down">
                            <h3 class="item-h3">{{count.title}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--contact us-->
    <app-contact-us></app-contact-us>

    <!--partners-->
    <div class="container-fluid" style="background-color: #0E7E4A ;">
        <div class="container partners">
            <!--Title-->
            <div class="col-12 col-sm-12 col-md-12 section-title">
                <h2 class="sectionName">شُركـاءنـا</h2>
            </div>
            <!-- Carousel -->
            <div id="demo3" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-container">
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="../../assets/images/شعار المديرية العامة للسجون.jpg" alt="شعار المديرية العامة للسجون">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="../../assets/images/شعار وزارة الصحة.jpg" alt="شعار وزارة الصحة">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="../../assets/images/شعار الموارد البشرية.jpg" alt="شعار الموارد البشري">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="../../assets/images/شعار العامر.jpg" alt="شعار العامر">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="/assets/images/شعار مجمع الابتسامة.jpg" alt="شعار مجمع الابتسامة">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="/assets/images/شعار كويك.jpg" alt="شعار كويك">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="/assets/images/شعار بيكو.jpg" alt="شعار بيكو">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="/assets/images/مارينا جويل.jpg" alt="مارينا جويل">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container">
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                          
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="/assets/images/شعار نوتش.jpg" alt="شعار نوتش">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 count-item">
                                <div class="col-11 item-img">
                                    <img src="/assets/images/مخابز رسن.jpg" alt="مخابز رسن">
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <!--Left and right controls/icons -->
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" ></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button> -->
            </div>

        </div>
    </div>
</div>