*{
    font-family: Tajawal;
}
/*carsoul*/
.cont1{
    margin-bottom: 30px;
}
.carousel-item img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    width: 100%;
    border-radius: 0px;
}
.nextBtn,.prevBtn{
    opacity: 1;
    width: 50px;
    background-color: #10d47800 !important;
    
}
.nextIcon{
    background-image: url("/assets/images/arrow-right-circle2.svg");
    width: 30px;
    height: 30px;
}
.prevIcon{
    background-image: url("/assets/images/arrow-left-circle2.svg");
    width: 30px;
    height: 30px;
}

/*count*/
.cover{
    background: url(/assets/images/billboard.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.counter{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom:60px;
}

.item{
    margin: auto;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    margin-bottom: 15px;
}
.up{
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.down{
    height: 50%;
}
.item-num{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
    color: #1c1c11;
}
.item-h3{
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    color: gray;
}

/*contact us*/
.contain-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom:60px;
}
.contact-info{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
/*information*/
.info-slice{
    margin: auto;
    height: 250px;
    margin-bottom: 20px;
    text-align: center;
}

.top{
    height: 45%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.bottom{
    height: 55%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.top-h4{
    color: #1c1c11;
}
.bottom-h5{
    color: #10d479;
    word-wrap: wrap;
}
/*map*/
.map-info{
    margin: auto;
    height: 520px;
    background-color: white;
    text-align: center;
}
.mapouter {
    position: relative;
    text-align: left;
    height: 100%;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width:100%;
}


/*responsive design*/
@media (max-width:1000px) and (min-width:767px){
    .bottom-h5{
        font-size: 16px;
    }
}
@media screen and(max-width:575px){
    .map-info{
        height: 350px;
    }
}

/*partners*/
.partners{
    padding-top: 60px;
    padding-bottom:60px;
}

.sectionName{
    font-weight: 500; 
    padding-bottom:80px; 
    text-align: center;
    color: white;
}

.img-container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-bottom:60px;
}

.item-img{
    margin: auto;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.item-img img{
    width: fit-content;
    height: fit-content;
}

/*carousel customize*/
.carousel-indicators button{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 5px;
}
.carousel-control-prev , .carousel-control-next{
    background-color: #1c1c11;
}
// .carousel-control-next{
//     height:200px;
//     width: 5%;
// } 
// .carousel-control-prev{
//     height:200px;
//     width: 5%;
// } 
// .carousel-control-next-icon {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='silver' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
// }
// .carousel-control-prev-icon {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='silver' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
// }

