
<div class="mainDiv" style="padding-top: 100px;">
    <div class="container-fluid" style="padding-top: 75px; padding-bottom: 50px;">
        <div class="container" style=" padding-bottom: 100px;">
            <div class="col-12 col-sm-12 col-md-4 blog-img" style=" float: left;" >
                <div class="blogImage">
                    <img src="assets/images/{{blog.image}}" alt="blo-img">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8  blog-body">
               <div class="col-11" style=" margin: auto;">
                    <div class="row" style="padding-top: 20px;" >
                        <h3 style="font-weight: 600; color: #10d479;">
                            {{blog.title}}
                        </h3>
                        <p style="color: #a8a8a8;">{{blog.creationDate|date:'fullDate'}}</p>
                    </div>
                    <div class="row">
                        <p style="font-size:18px ; font-weight: 500; color: #a8a8a8;">
                            {{blog.content}}
                        </p>
                    </div>
               </div>
            </div>
        </div>
    </div>
    
</div>