<div class="container-fluid" >
    <div class="container" style=" padding-top: 100px; padding-bottom: 100px;">
        <div class="col-12 col-sm-12 col-md-4 blog-img" style=" float: left;">
            <div style="margin-bottom: 10px;">
                <img src={{blog.image}} alt="blo-img">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8  blog-body">
           <div class="col-11" style=" margin: auto;">
                <div class="row" >
                    <h3 style="font-weight: 600;">
                        {{blog.title}}
                    </h3>
                    <p style="font-weight: 600; color: #10d479;">{{blog.history}}</p>
                </div>
                <div class="row">
                    <p style="font-size:18px ; font-weight: 500; color: #a8a8a8;">
                        {{blog.text}}
                    </p>
                </div>
           </div>
        </div>
    </div>
</div>
